Repository fvoges/terraform-provider-braintrustdata: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # SECURITY: Secret detection to prevent accidental credential leaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w -s
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: go vet
        language: system
        files: \.go$
        pass_filenames: false
        args: ['./...']

      # SECURITY: Static analysis for security vulnerabilities
      - id: go-sec
        name: gosec security scanner
        entry: "bash -c 'command -v gosec >/dev/null 2>&1 && gosec -quiet ./... || echo \"gosec not installed, skipping (install with: go install github.com/securego/gosec/v2/cmd/gosec@latest)\"'"
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: go test
        entry: bash -c 'go test ./internal/client/... ./internal/provider/... -timeout=60s'
        language: system
        files: \.go$
        pass_filenames: false

      - id: terraform-fmt
        name: terraform fmt
        entry: bash -c 'if [ -d examples ]; then terraform fmt -recursive examples/; fi'
        language: system
        files: \.tf$
        pass_filenames: false

      - id: examples-lint
        name: examples integrity checks
        entry: bash scripts/check-examples.sh
        language: system
        files: (examples/.*|docs/.*|scripts/check-examples\.sh|GNUmakefile)$
        pass_filenames: false

      - id: generate-docs
        name: generate docs
        entry: "bash -c 'command -v tfplugindocs >/dev/null 2>&1 && make generate || echo \"tfplugindocs not installed, skipping (install with: go install github.com/hashicorp/terraform-plugin-docs/cmd/tfplugindocs@latest)\"'"
        language: system
        files: (internal/provider/.*\.go|templates/.*\.tmpl|examples/.*)$
        pass_filenames: false

test(acl): tighten invalid UUID and missing-id fixtures
  internal/provider/acl_data_source_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

test(acl): fix not-found regression and add invalid UUID acceptance coverage (#123)
  internal/provider/acl_data_source_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

fix(acl): stabilize not-found acceptance regex for 400 responses
  internal/provider/acl_data_source_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

fix(acl): tighten and refactor not-found acceptance regex
  internal/provider/acl_data_source_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

fix: stabilize ACL not-found acceptance expectation for 400 responses (#126)
  internal/provider/acl_data_source_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

feat(data-sources): add function and functions data sources
  docs/data-sources/function.md
  docs/data-sources/functions.md
  examples/data-sources/braintrustdata_function/README.md
  examples/data-sources/braintrustdata_function/data-source.tf
  examples/data-sources/braintrustdata_function/versions.tf
  examples/data-sources/braintrustdata_functions/README.md
  examples/data-sources/braintrustdata_functions/data-source.tf
  examples/data-sources/braintrustdata_functions/versions.tf
  internal/client/functions.go
  internal/client/functions_test.go
  internal/provider/function_data_source.go
  internal/provider/function_data_source_test.go
  internal/provider/function_data_source_unit_test.go
  internal/provider/functions_data_source.go
  internal/provider/functions_data_source_test.go
  internal/provider/functions_data_source_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

fix(examples): terraform format functions data source example
  examples/data-sources/braintrustdata_functions/data-source.tf
Due: terraform-fmt, examples-lint, generate-docs

docs(data-sources): align function docs with generated output
  docs/data-sources/function.md
  docs/data-sources/functions.md
Due: examples-lint

docs(data-sources): match generated function docs formatting
  docs/data-sources/function.md
  docs/data-sources/functions.md
Due: examples-lint

fix(functions): surface JSON encode diagnostics and harden not-found test
  internal/provider/function_data_source.go
  internal/provider/function_data_source_test.go
  internal/provider/function_data_source_unit_test.go
  internal/provider/functions_data_source.go
  internal/provider/functions_data_source_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

feat: implement function/functions data sources (#79) (#127)
  docs/data-sources/function.md
  docs/data-sources/functions.md
  examples/data-sources/braintrustdata_function/README.md
  examples/data-sources/braintrustdata_function/data-source.tf
  examples/data-sources/braintrustdata_function/versions.tf
  examples/data-sources/braintrustdata_functions/README.md
  examples/data-sources/braintrustdata_functions/data-source.tf
  examples/data-sources/braintrustdata_functions/versions.tf
  internal/client/functions.go
  internal/client/functions_test.go
  internal/provider/function_data_source.go
  internal/provider/function_data_source_test.go
  internal/provider/function_data_source_unit_test.go
  internal/provider/functions_data_source.go
  internal/provider/functions_data_source_test.go
  internal/provider/functions_data_source_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

feat(scores): add score and scores data sources (#80)
  docs/data-sources/score.md
  docs/data-sources/scores.md
  examples/data-sources/braintrustdata_score/README.md
  examples/data-sources/braintrustdata_score/data-source.tf
  examples/data-sources/braintrustdata_score/versions.tf
  examples/data-sources/braintrustdata_scores/README.md
  examples/data-sources/braintrustdata_scores/data-source.tf
  examples/data-sources/braintrustdata_scores/versions.tf
  internal/client/scores.go
  internal/client/scores_test.go
  internal/provider/provider.go
  internal/provider/score_data_source.go
  internal/provider/score_data_source_test.go
  internal/provider/score_data_source_unit_test.go
  internal/provider/scores_data_source.go
  internal/provider/scores_data_source_test.go
  internal/provider/scores_data_source_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

feat(scores): add score and scores data sources (#80) (#128)
  docs/data-sources/score.md
  docs/data-sources/scores.md
  examples/data-sources/braintrustdata_score/README.md
  examples/data-sources/braintrustdata_score/data-source.tf
  examples/data-sources/braintrustdata_score/versions.tf
  examples/data-sources/braintrustdata_scores/README.md
  examples/data-sources/braintrustdata_scores/data-source.tf
  examples/data-sources/braintrustdata_scores/versions.tf
  internal/client/scores.go
  internal/client/scores_test.go
  internal/provider/provider.go
  internal/provider/score_data_source.go
  internal/provider/score_data_source_test.go
  internal/provider/score_data_source_unit_test.go
  internal/provider/scores_data_source.go
  internal/provider/scores_data_source_test.go
  internal/provider/scores_data_source_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

feat(env-var): add environment variable resource with API-compatible behavior
  docs/resources/environment_variable.md
  examples/resources/braintrustdata_environment_variable/README.md
  examples/resources/braintrustdata_environment_variable/import.sh
  examples/resources/braintrustdata_environment_variable/resource.tf
  examples/resources/braintrustdata_environment_variable/versions.tf
  internal/client/environment_variables.go
  internal/client/environment_variables_test.go
  internal/provider/environment_variable_resource.go
  internal/provider/environment_variable_resource_test.go
  internal/provider/environment_variable_resource_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

fix(env-var): preserve secret value state when update response omits value
  internal/provider/environment_variable_resource.go
  internal/provider/environment_variable_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

feat(env-var): implement environment variable resource (#129)
  docs/resources/environment_variable.md
  examples/resources/braintrustdata_environment_variable/README.md
  examples/resources/braintrustdata_environment_variable/import.sh
  examples/resources/braintrustdata_environment_variable/resource.tf
  examples/resources/braintrustdata_environment_variable/versions.tf
  internal/client/environment_variables.go
  internal/client/environment_variables_test.go
  internal/provider/environment_variable_resource.go
  internal/provider/environment_variable_resource_test.go
  internal/provider/environment_variable_resource_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

feat(functions): implement function resource (#15)
  docs/resources/function.md
  examples/resources/braintrustdata_function/README.md
  examples/resources/braintrustdata_function/import.sh
  examples/resources/braintrustdata_function/resource.tf
  examples/resources/braintrustdata_function/versions.tf
  internal/client/functions.go
  internal/client/functions_test.go
  internal/provider/function_resource.go
  internal/provider/function_resource_test.go
  internal/provider/function_resource_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

fix(functions): honor clears and harden payloads (#15)
  docs/resources/function.md
  examples/resources/braintrustdata_function/README.md
  examples/resources/braintrustdata_function/resource.tf
  internal/provider/function_resource.go
  internal/provider/function_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

chore(terraform): format function example (#15)
  examples/resources/braintrustdata_function/resource.tf
Due: terraform-fmt, examples-lint, generate-docs

docs(functions): regenerate function docs (#15)
  docs/resources/function.md
Due: examples-lint

fix(functions): preserve unknown metadata and tags (#15)
  internal/provider/function_resource.go
  internal/provider/function_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

feat(functions): implement function resource (#15) (#130)
  docs/resources/function.md
  examples/resources/braintrustdata_function/README.md
  examples/resources/braintrustdata_function/import.sh
  examples/resources/braintrustdata_function/resource.tf
  examples/resources/braintrustdata_function/versions.tf
  internal/client/functions.go
  internal/client/functions_test.go
  internal/provider/function_resource.go
  internal/provider/function_resource_test.go
  internal/provider/function_resource_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

feat(scores): add braintrustdata_score resource (#16)
  docs/resources/score.md
  examples/resources/braintrustdata_score/README.md
  examples/resources/braintrustdata_score/import.sh
  examples/resources/braintrustdata_score/resource.tf
  examples/resources/braintrustdata_score/versions.tf
  internal/client/scores.go
  internal/client/scores_test.go
  internal/provider/provider.go
  internal/provider/score_resource.go
  internal/provider/score_resource_test.go
  internal/provider/score_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

fix(scores): preserve null clears and normalize JSON diffs (#16)
  internal/provider/score_resource.go
  internal/provider/score_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

style(terraform): fmt score example (#16)
  examples/resources/braintrustdata_score/resource.tf
Due: terraform-fmt, examples-lint, generate-docs

docs(scores): regenerate score resource docs (#16)
  docs/resources/score.md
Due: examples-lint

fix(scores): preserve equivalent JSON strings (#16)
  internal/provider/score_resource.go
  internal/provider/score_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

feat(scores): implement score resource (#16) (#131)
  docs/resources/score.md
  examples/resources/braintrustdata_score/README.md
  examples/resources/braintrustdata_score/import.sh
  examples/resources/braintrustdata_score/resource.tf
  examples/resources/braintrustdata_score/versions.tf
  internal/client/scores.go
  internal/client/scores_test.go
  internal/provider/provider.go
  internal/provider/score_resource.go
  internal/provider/score_resource_test.go
  internal/provider/score_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

feat(views): implement view resource (#17)
  docs/resources/view.md
  examples/resources/braintrustdata_view/README.md
  examples/resources/braintrustdata_view/import.sh
  examples/resources/braintrustdata_view/resource.tf
  examples/resources/braintrustdata_view/versions.tf
  internal/client/views.go
  internal/client/views_test.go
  internal/provider/provider.go
  internal/provider/view_resource.go
  internal/provider/view_resource_test.go
  internal/provider/view_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

fix(views): send explicit null clears on update (#17)
  internal/client/views.go
  internal/client/views_test.go
  internal/provider/view_resource.go
  internal/provider/view_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

fix(views): harden ID validation and docs for null-clear behavior (#17)
  docs/resources/view.md
  examples/resources/braintrustdata_view/versions.tf
  internal/client/views.go
  internal/client/views_test.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

docs(views): move null-clear note into schema markdown description
  docs/resources/view.md
  internal/provider/view_resource.go
Due: go-fmt, go-vet, go-sec, go-test, examples-lint, generate-docs

feat(views): implement view resource (#132)
  docs/resources/view.md
  examples/resources/braintrustdata_view/README.md
  examples/resources/braintrustdata_view/import.sh
  examples/resources/braintrustdata_view/resource.tf
  examples/resources/braintrustdata_view/versions.tf
  internal/client/views.go
  internal/client/views_test.go
  internal/provider/provider.go
  internal/provider/view_resource.go
  internal/provider/view_resource_test.go
  internal/provider/view_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

fix(views): address review follow-ups from #132
  docs/resources/view.md
  internal/client/views.go
  internal/provider/view_resource.go
Due: go-fmt, go-vet, go-sec, go-test, examples-lint, generate-docs

fix(views): address review follow-ups from #132 (#133)
  docs/resources/view.md
  internal/client/views.go
  internal/provider/view_resource.go
Due: go-fmt, go-vet, go-sec, go-test, examples-lint, generate-docs

feat(tag): add tag resource with CRUD, tests, docs, and examples
  docs/resources/tag.md
  examples/resources/braintrustdata_tag/README.md
  examples/resources/braintrustdata_tag/resource.tf
  examples/resources/braintrustdata_tag/versions.tf
  internal/client/tags.go
  internal/client/tags_test.go
  internal/provider/provider.go
  internal/provider/tag_resource.go
  internal/provider/tag_resource_test.go
  internal/provider/tag_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

docs(tag): regenerate docs with example usage
  docs/resources/tag.md
Due: examples-lint

fix(tags): align null update semantics
  internal/provider/tag_resource.go
  internal/provider/tag_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

docs(tag): regenerate docs for null semantics
  docs/resources/tag.md
Due: examples-lint

fix(tags): address remaining PR review comments
  internal/client/tags_test.go
  internal/provider/tag_resource.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs
