Repository fvoges/terraform-provider-braintrustdata: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

go-fmt:
  name: go fmt
  entry: gofmt -w -s
  language: system
  pass_filenames: true

go-vet:
  name: go vet
  entry: go vet
  language: system
  pass_filenames: false
  args:
  - ./...

go-sec:
  name: gosec security scanner
  entry: 'bash -c ''command -v gosec >/dev/null 2>&1 && gosec -quiet ./... || echo "gosec not installed, skipping (install with: go install github.com/securego/gosec/v2/cmd/gosec@latest)"'''
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: bash -c 'go test ./internal/client/... ./internal/provider/... -timeout=60s'
  language: system
  pass_filenames: false

terraform-fmt:
  name: terraform fmt
  entry: bash -c 'if [ -d examples ]; then terraform fmt -recursive examples/; fi'
  language: system
  pass_filenames: false

examples-lint:
  name: examples integrity checks
  entry: bash scripts/check-examples.sh
  language: system
  pass_filenames: false

generate-docs:
  name: generate docs
  entry: 'bash -c ''command -v tfplugindocs >/dev/null 2>&1 && make generate || echo "tfplugindocs not installed, skipping (install with: go install github.com/hashicorp/terraform-plugin-docs/cmd/tfplugindocs@latest)"'''
  language: system
  pass_filenames: false

feat: implement tags resource (#18) (#134)
  docs/resources/tag.md
  examples/resources/braintrustdata_tag/README.md
  examples/resources/braintrustdata_tag/resource.tf
  examples/resources/braintrustdata_tag/versions.tf
  internal/client/tags.go
  internal/client/tags_test.go
  internal/provider/provider.go
  internal/provider/tag_resource.go
  internal/provider/tag_resource_test.go
  internal/provider/tag_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

fix(deps): align framework with plugin-go compatibility
  go.mod
  go.sum
Due: none

chore(ci): capture acceptance test logs on failure
  .github/workflows/test.yml
  internal/provider/makefile_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

chore(ci): capture acceptance test logs on failure (#140)
  .github/workflows/test.yml
  internal/provider/makefile_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

feat(ai-secrets): implement AI secret resource
  docs/resources/ai_secret.md
  examples/resources/braintrustdata_ai_secret/README.md
  examples/resources/braintrustdata_ai_secret/resource.tf
  examples/resources/braintrustdata_ai_secret/versions.tf
  internal/client/ai_secrets.go
  internal/client/ai_secrets_test.go
  internal/provider/ai_secret_resource.go
  internal/provider/ai_secret_resource_test.go
  internal/provider/ai_secret_resource_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

fix(ai-secrets): address review follow-ups
  internal/client/ai_secrets.go
  internal/client/ai_secrets_test.go
  internal/provider/ai_secret_resource.go
  internal/provider/ai_secret_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

feat: implement AI secret resource (#141)
  docs/resources/ai_secret.md
  examples/resources/braintrustdata_ai_secret/README.md
  examples/resources/braintrustdata_ai_secret/resource.tf
  examples/resources/braintrustdata_ai_secret/versions.tf
  internal/client/ai_secrets.go
  internal/client/ai_secrets_test.go
  internal/provider/ai_secret_resource.go
  internal/provider/ai_secret_resource_test.go
  internal/provider/ai_secret_resource_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

test(ci): allow upload-artifact version bumps in workflow assertion
  internal/provider/makefile_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-sec: any of: \.go$
  go-test: any of: \.go$
  terraform-fmt: any of: \.tf$
  examples-lint: any of: (examples/.*|docs/.*|scripts/check-examples\.sh|GNUmakefile)$
  generate-docs: any of: (internal/provider/.*\.go|templates/.*\.tmpl|examples/.*)$
