Repository fvoges/terraform-provider-braintrustdata: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

go-fmt:
  name: go fmt
  entry: gofmt -w -s
  language: system
  pass_filenames: true

go-vet:
  name: go vet
  entry: go vet
  language: system
  pass_filenames: false
  args:
  - ./...

go-sec:
  name: gosec security scanner
  entry: 'bash -c ''command -v gosec >/dev/null 2>&1 && gosec -quiet ./... || echo "gosec not installed, skipping (install with: go install github.com/securego/gosec/v2/cmd/gosec@latest)"'''
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: bash -c 'go test ./internal/client/... ./internal/provider/... -timeout=60s'
  language: system
  pass_filenames: false

terraform-fmt:
  name: terraform fmt
  entry: bash -c 'if [ -d examples ]; then terraform fmt -recursive examples/; fi'
  language: system
  pass_filenames: false

examples-lint:
  name: examples integrity checks
  entry: bash scripts/check-examples.sh
  language: system
  pass_filenames: false

generate-docs:
  name: generate docs
  entry: 'bash -c ''command -v tfplugindocs >/dev/null 2>&1 && make generate || echo "tfplugindocs not installed, skipping (install with: go install github.com/hashicorp/terraform-plugin-docs/cmd/tfplugindocs@latest)"'''
  language: system
  pass_filenames: false

fix(experiment): preserve repo_info state when omitted
  internal/provider/experiment_resource.go
  internal/provider/experiment_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

test(experiment): expand repo_info helper coverage
  internal/provider/experiment_resource.go
  internal/provider/experiment_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

feat(org): implement organization resource
  docs/resources/org.md
  examples/resources/braintrustdata_org/README.md
  examples/resources/braintrustdata_org/import.sh
  examples/resources/braintrustdata_org/resource.tf
  examples/resources/braintrustdata_org/versions.tf
  internal/client/organizations.go
  internal/client/organizations_test.go
  internal/provider/org_resource.go
  internal/provider/org_resource_test.go
  internal/provider/org_resource_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

chore(org): format terraform example
  examples/resources/braintrustdata_org/resource.tf
Due: terraform-fmt, examples-lint, generate-docs

fix(ci): stabilize docs generation naming
  GNUmakefile
  docs/resources/org.md
Due: examples-lint

test(org): assert escaped path in special character client tests
  internal/client/organizations_test.go
Due: go-fmt, go-vet, go-sec, go-test

feat(org): add organization data sources
  docs/data-sources/org.md
  docs/data-sources/orgs.md
  examples/data-sources/braintrustdata_api_key/README.md
  examples/data-sources/braintrustdata_api_key/versions.tf
  examples/data-sources/braintrustdata_api_keys/README.md
  examples/data-sources/braintrustdata_api_keys/versions.tf
  examples/data-sources/braintrustdata_org/README.md
  examples/data-sources/braintrustdata_org/data-source.tf
  examples/data-sources/braintrustdata_org/versions.tf
  examples/data-sources/braintrustdata_orgs/README.md
  examples/data-sources/braintrustdata_orgs/data-source.tf
  examples/data-sources/braintrustdata_orgs/versions.tf
  examples/data-sources/braintrustdata_role/README.md
  examples/data-sources/braintrustdata_role/versions.tf
  examples/data-sources/braintrustdata_roles/README.md
  examples/data-sources/braintrustdata_roles/versions.tf
  internal/client/organizations.go
  internal/client/organizations_test.go
  internal/provider/org_data_source.go
  internal/provider/org_data_source_test.go
  internal/provider/org_data_source_unit_test.go
  internal/provider/orgs_data_source.go
  internal/provider/orgs_data_source_test.go
  internal/provider/orgs_data_source_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

fix(orgs-ds): align limit schema with list data source conventions
  internal/provider/orgs_data_source.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

feat(org): implement organization data sources (org + orgs) (#106)
  docs/data-sources/org.md
  docs/data-sources/orgs.md
  examples/data-sources/braintrustdata_api_key/README.md
  examples/data-sources/braintrustdata_api_key/versions.tf
  examples/data-sources/braintrustdata_api_keys/README.md
  examples/data-sources/braintrustdata_api_keys/versions.tf
  examples/data-sources/braintrustdata_org/README.md
  examples/data-sources/braintrustdata_org/data-source.tf
  examples/data-sources/braintrustdata_org/versions.tf
  examples/data-sources/braintrustdata_orgs/README.md
  examples/data-sources/braintrustdata_orgs/data-source.tf
  examples/data-sources/braintrustdata_orgs/versions.tf
  examples/data-sources/braintrustdata_role/README.md
  examples/data-sources/braintrustdata_role/versions.tf
  examples/data-sources/braintrustdata_roles/README.md
  examples/data-sources/braintrustdata_roles/versions.tf
  internal/client/organizations.go
  internal/client/organizations_test.go
  internal/provider/org_data_source.go
  internal/provider/org_data_source_test.go
  internal/provider/org_data_source_unit_test.go
  internal/provider/orgs_data_source.go
  internal/provider/orgs_data_source_test.go
  internal/provider/orgs_data_source_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

feat(acl): add acl and acls data sources
  docs/data-sources/acl.md
  docs/data-sources/acls.md
  examples/data-sources/braintrustdata_acl/README.md
  examples/data-sources/braintrustdata_acl/data-source.tf
  examples/data-sources/braintrustdata_acl/versions.tf
  examples/data-sources/braintrustdata_acls/README.md
  examples/data-sources/braintrustdata_acls/data-source.tf
  examples/data-sources/braintrustdata_acls/versions.tf
  internal/provider/acl_data_source.go
  internal/provider/acl_data_source_test.go
  internal/provider/acl_data_source_unit_test.go
  internal/provider/acls_data_source.go
  internal/provider/acls_data_source_test.go
  internal/provider/acls_data_source_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

fix(acl): address PR review feedback for ACL data sources
  internal/provider/acl_data_source.go
  internal/provider/acl_data_source_unit_test.go
  internal/provider/acls_data_source.go
  internal/provider/acls_data_source_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

feat(acl): implement ACL data sources (acl + acls) (#107)
  docs/data-sources/acl.md
  docs/data-sources/acls.md
  examples/data-sources/braintrustdata_acl/README.md
  examples/data-sources/braintrustdata_acl/data-source.tf
  examples/data-sources/braintrustdata_acl/versions.tf
  examples/data-sources/braintrustdata_acls/README.md
  examples/data-sources/braintrustdata_acls/data-source.tf
  examples/data-sources/braintrustdata_acls/versions.tf
  internal/provider/acl_data_source.go
  internal/provider/acl_data_source_test.go
  internal/provider/acl_data_source_unit_test.go
  internal/provider/acls_data_source.go
  internal/provider/acls_data_source_test.go
  internal/provider/acls_data_source_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

feat(env-vars): add environment variable data sources
  docs/data-sources/environment_variable.md
  docs/data-sources/environment_variables.md
  examples/data-sources/braintrustdata_environment_variable/README.md
  examples/data-sources/braintrustdata_environment_variable/data-source.tf
  examples/data-sources/braintrustdata_environment_variable/versions.tf
  examples/data-sources/braintrustdata_environment_variables/README.md
  examples/data-sources/braintrustdata_environment_variables/data-source.tf
  examples/data-sources/braintrustdata_environment_variables/versions.tf
  internal/client/environment_variables.go
  internal/client/environment_variables_test.go
  internal/provider/environment_variable_data_source.go
  internal/provider/environment_variable_data_source_test.go
  internal/provider/environment_variable_data_source_unit_test.go
  internal/provider/environment_variables_data_source.go
  internal/provider/environment_variables_data_source_test.go
  internal/provider/environment_variables_data_source_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

feat(ai-secrets): add ai_secret and ai_secrets data sources
  docs/data-sources/ai_secret.md
  docs/data-sources/ai_secrets.md
  examples/data-sources/braintrustdata_ai_secret/README.md
  examples/data-sources/braintrustdata_ai_secret/data-source.tf
  examples/data-sources/braintrustdata_ai_secret/versions.tf
  examples/data-sources/braintrustdata_ai_secrets/README.md
  examples/data-sources/braintrustdata_ai_secrets/data-source.tf
  examples/data-sources/braintrustdata_ai_secrets/versions.tf
  internal/client/ai_secrets.go
  internal/client/ai_secrets_test.go
  internal/provider/ai_secret_data_source.go
  internal/provider/ai_secret_data_source_test.go
  internal/provider/ai_secret_data_source_unit_test.go
  internal/provider/ai_secrets_data_source.go
  internal/provider/ai_secrets_data_source_test.go
  internal/provider/ai_secrets_data_source_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

test: replace future env var test timestamps with stable past date
  internal/client/environment_variables_test.go
  internal/provider/environment_variable_data_source_unit_test.go
  internal/provider/environment_variables_data_source_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

feat(ai-secrets): add ai_secret and ai_secrets data sources (#109)
  docs/data-sources/ai_secret.md
  docs/data-sources/ai_secrets.md
  examples/data-sources/braintrustdata_ai_secret/README.md
  examples/data-sources/braintrustdata_ai_secret/data-source.tf
  examples/data-sources/braintrustdata_ai_secret/versions.tf
  examples/data-sources/braintrustdata_ai_secrets/README.md
  examples/data-sources/braintrustdata_ai_secrets/data-source.tf
  examples/data-sources/braintrustdata_ai_secrets/versions.tf
  internal/client/ai_secrets.go
  internal/client/ai_secrets_test.go
  internal/provider/ai_secret_data_source.go
  internal/provider/ai_secret_data_source_test.go
  internal/provider/ai_secret_data_source_unit_test.go
  internal/provider/ai_secrets_data_source.go
  internal/provider/ai_secrets_data_source_test.go
  internal/provider/ai_secrets_data_source_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

feat(env-vars): add environment_variable and environment_variables data sources (#108)
  docs/data-sources/environment_variable.md
  docs/data-sources/environment_variables.md
  examples/data-sources/braintrustdata_environment_variable/README.md
  examples/data-sources/braintrustdata_environment_variable/data-source.tf
  examples/data-sources/braintrustdata_environment_variable/versions.tf
  examples/data-sources/braintrustdata_environment_variables/README.md
  examples/data-sources/braintrustdata_environment_variables/data-source.tf
  examples/data-sources/braintrustdata_environment_variables/versions.tf
  internal/client/environment_variables.go
  internal/client/environment_variables_test.go
  internal/provider/environment_variable_data_source.go
  internal/provider/environment_variable_data_source_test.go
  internal/provider/environment_variable_data_source_unit_test.go
  internal/provider/environment_variables_data_source.go
  internal/provider/environment_variables_data_source_test.go
  internal/provider/environment_variables_data_source_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

feat(tags): add tag and tags data sources
  docs/data-sources/tag.md
  docs/data-sources/tags.md
  examples/data-sources/braintrustdata_tag/README.md
  examples/data-sources/braintrustdata_tag/data-source.tf
  examples/data-sources/braintrustdata_tag/versions.tf
  examples/data-sources/braintrustdata_tags/README.md
  examples/data-sources/braintrustdata_tags/data-source.tf
  examples/data-sources/braintrustdata_tags/versions.tf
  internal/client/tags.go
  internal/client/tags_test.go
  internal/provider/provider.go
  internal/provider/tag_data_source.go
  internal/provider/tag_data_source_test.go
  internal/provider/tag_data_source_unit_test.go
  internal/provider/tags_data_source.go
  internal/provider/tags_data_source_test.go
  internal/provider/tags_data_source_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

fix(tags): align pagination conflict diagnostics
  internal/provider/tags_data_source.go
  internal/provider/tags_data_source_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

feat(tags): add tag and tags data sources (#110)
  docs/data-sources/tag.md
  docs/data-sources/tags.md
  examples/data-sources/braintrustdata_tag/README.md
  examples/data-sources/braintrustdata_tag/data-source.tf
  examples/data-sources/braintrustdata_tag/versions.tf
  examples/data-sources/braintrustdata_tags/README.md
  examples/data-sources/braintrustdata_tags/data-source.tf
  examples/data-sources/braintrustdata_tags/versions.tf
  internal/client/tags.go
  internal/client/tags_test.go
  internal/provider/provider.go
  internal/provider/tag_data_source.go
  internal/provider/tag_data_source_test.go
  internal/provider/tag_data_source_unit_test.go
  internal/provider/tags_data_source.go
  internal/provider/tags_data_source_test.go
  internal/provider/tags_data_source_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

feat(views): add view and views data sources
  docs/data-sources/view.md
  docs/data-sources/views.md
  examples/data-sources/braintrustdata_view/README.md
  examples/data-sources/braintrustdata_view/data-source.tf
  examples/data-sources/braintrustdata_view/versions.tf
  examples/data-sources/braintrustdata_views/README.md
  examples/data-sources/braintrustdata_views/data-source.tf
  examples/data-sources/braintrustdata_views/versions.tf
  internal/client/views.go
  internal/client/views_test.go
  internal/provider/provider.go
  internal/provider/view_data_source.go
  internal/provider/view_data_source_test.go
  internal/provider/view_data_source_unit_test.go
  internal/provider/views_data_source.go
  internal/provider/views_data_source_test.go
  internal/provider/views_data_source_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

chore(examples): align view examples with version contract
  examples/data-sources/braintrustdata_view/versions.tf
  examples/data-sources/braintrustdata_views/versions.tf
Due: terraform-fmt, examples-lint, generate-docs

feat(views): add view and views data sources (#111)
  docs/data-sources/view.md
  docs/data-sources/views.md
  examples/data-sources/braintrustdata_view/README.md
  examples/data-sources/braintrustdata_view/data-source.tf
  examples/data-sources/braintrustdata_view/versions.tf
  examples/data-sources/braintrustdata_views/README.md
  examples/data-sources/braintrustdata_views/data-source.tf
  examples/data-sources/braintrustdata_views/versions.tf
  internal/client/views.go
  internal/client/views_test.go
  internal/provider/provider.go
  internal/provider/view_data_source.go
  internal/provider/view_data_source_test.go
  internal/provider/view_data_source_unit_test.go
  internal/provider/views_data_source.go
  internal/provider/views_data_source_test.go
  internal/provider/views_data_source_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

feat(prompts): add prompt and prompts data sources
  docs/data-sources/prompt.md
  docs/data-sources/prompts.md
  examples/data-sources/braintrustdata_prompt/README.md
  examples/data-sources/braintrustdata_prompt/data-source.tf
  examples/data-sources/braintrustdata_prompt/versions.tf
  examples/data-sources/braintrustdata_prompts/README.md
  examples/data-sources/braintrustdata_prompts/data-source.tf
  examples/data-sources/braintrustdata_prompts/versions.tf
  internal/client/prompts.go
  internal/client/prompts_test.go
  internal/provider/prompt_data_source.go
  internal/provider/prompt_data_source_test.go
  internal/provider/prompt_data_source_unit_test.go
  internal/provider/prompts_data_source.go
  internal/provider/prompts_data_source_test.go
  internal/provider/prompts_data_source_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

docs(prompt): regenerate prompt data source docs
  docs/data-sources/prompt.md
Due: examples-lint

fix(prompts): trim pagination cursors in list filters
  internal/provider/prompts_data_source.go
  internal/provider/prompts_data_source_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

feat(prompts): add prompt and prompts data sources (#112)
  docs/data-sources/prompt.md
  docs/data-sources/prompts.md
  examples/data-sources/braintrustdata_prompt/README.md
  examples/data-sources/braintrustdata_prompt/data-source.tf
  examples/data-sources/braintrustdata_prompt/versions.tf
  examples/data-sources/braintrustdata_prompts/README.md
  examples/data-sources/braintrustdata_prompts/data-source.tf
  examples/data-sources/braintrustdata_prompts/versions.tf
  internal/client/prompts.go
  internal/client/prompts_test.go
  internal/provider/prompt_data_source.go
  internal/provider/prompt_data_source_test.go
  internal/provider/prompt_data_source_unit_test.go
  internal/provider/prompts_data_source.go
  internal/provider/prompts_data_source_test.go
  internal/provider/prompts_data_source_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

test(acc): relax brittle ACL and tags error regex assertions
  internal/provider/acl_data_source_test.go
  internal/provider/tags_data_source_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

test(acc): relax brittle ACL and tags error regex assertions (#119)
  internal/provider/acl_data_source_test.go
  internal/provider/tags_data_source_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

feat(prompts): add braintrustdata_prompt resource
  docs/resources/prompt.md
  examples/resources/braintrustdata_prompt/README.md
  examples/resources/braintrustdata_prompt/import.sh
  examples/resources/braintrustdata_prompt/resource.tf
  examples/resources/braintrustdata_prompt/versions.tf
  internal/client/prompts.go
  internal/client/prompts_test.go
  internal/provider/prompt_resource.go
  internal/provider/prompt_resource_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

fix(prompts): fix tags drift, prompt_data marshal error, add RequiresReplace test
  internal/provider/prompt_resource.go
  internal/provider/prompt_resource_test.go
  internal/provider/prompt_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

fix(prompts): derive slug from name when not explicitly provided
  internal/provider/prompt_resource.go
  internal/provider/prompt_resource_test.go
  internal/provider/prompt_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

fix(prompt): preserve null tags state when tags omitted from config
  internal/provider/prompt_resource.go
  internal/provider/prompt_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

test(prompt): fix RequiresReplace acceptance test to use two distinct projects
  internal/provider/prompt_resource_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

fix(prompt): preserve explicit update clears and re-read state
  internal/client/prompts.go
  internal/client/prompts_test.go
  internal/provider/prompt_resource.go
  internal/provider/prompt_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

chore: format prompt resource Terraform example
  examples/resources/braintrustdata_prompt/resource.tf
Due: terraform-fmt, examples-lint, generate-docs

docs: regenerate prompt resource docs
  docs/resources/prompt.md
Due: examples-lint

fix(prompt): preserve metadata empty-map state and clean test comments
  internal/provider/prompt_resource.go
  internal/provider/prompt_resource_test.go
  internal/provider/prompt_resource_unit_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

fix(prompt): preserve update clear semantics and re-read state (#121)
  docs/resources/prompt.md
  examples/resources/braintrustdata_prompt/README.md
  examples/resources/braintrustdata_prompt/import.sh
  examples/resources/braintrustdata_prompt/resource.tf
  examples/resources/braintrustdata_prompt/versions.tf
  internal/client/prompts.go
  internal/client/prompts_test.go
  internal/provider/prompt_resource.go
  internal/provider/prompt_resource_test.go
  internal/provider/prompt_resource_unit_test.go
  internal/provider/provider.go
Due: go-fmt, go-vet, go-sec, go-test, terraform-fmt, examples-lint, generate-docs

test(acl): cover not-found and invalid UUID acceptance paths
  internal/provider/acl_data_source_test.go
Due: go-fmt, go-vet, go-sec, go-test, generate-docs

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-sec: any of: \.go$
  go-test: any of: \.go$
  terraform-fmt: any of: \.tf$
  examples-lint: any of: (examples/.*|docs/.*|scripts/check-examples\.sh|GNUmakefile)$
  generate-docs: any of: (internal/provider/.*\.go|templates/.*\.tmpl|examples/.*)$
